*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/logs/*
*/.terraform/*
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
# .tfvars files
*.tfvars

ssh-keys/*
ssl-certs/*

*.log
*/*.log

ansible/roles/external/*
ansible/ansible.log
ansible/inventory/*.ini
ansible/playbooks/*.pem
ansible/playbooks/*.crt
ansible/playbooks/*.key
ansible/playbooks/*.ovpn
