*/terraform.tfvars

.DS_Store

*/terraform.tfstate
*/terraform.tfstate.backup
*/logs/*
*/.terraform/*

.terraform/



#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

ssh-keys/*
ssl-certs/*
ansible/roles/external/*
*.log
*/*.log
ansible.log

