DEFAULT_PROFILE = ""
AWS_REGION = "us-west-2"
PATH_TO_PRIVATE_KEY = "ssh-keys/jenkins"
PATH_TO_PUBLIC_KEY = "ssh-keys/jenkins.pub"
DEFAULT_ROUTE53_ZONE = "jenkins-aws-demo.net"
INSTANCE_DEVICE_NAME = "/dev/xvdh"
NOTIFICATION_ENDPOINT = "admin@gmail.com"
SECURITY_GROUP_ACCESS = ["127.0.0.1/32"]
SSL_CERT_FOR_ELB = "ssl-certs/server.crt"
SSL_KEY_FOR_ELB = "ssl-certs/server.key"
