DEFAULT_PROFILE = "default"
AWS_REGION = "us-east-2"
PATH_TO_PRIVATE_KEY = "ssh-keys/jenkins"
PATH_TO_PUBLIC_KEY = "ssh-keys/jenkins.pub"
DEFAULT_ROUTE53_ZONE = "demo.kagarlickij.com"
SSL_CERT_FOR_ELB = "arn:aws:acm:us-east-2:273083888550:certificate/07a9384c-9d46-42ab-9ed5-7b18b799095a"
INSTANCE_DEVICE_NAME = "/dev/xvdh"
NOTIFICATION_ENDPOINT = "dmitriy@kagarlickij.com"
SECURITY_GROUP_ACCESS = ["194.44.229.242/32"]
ANSIBLE_INVENTORY_DIR = "ansible/inventory"
ANSIBLE_INVENTORY_NAME = "prod.ini"
ANSIBLE_PYTHON_PATH = "/usr/bin/python3"