[defaults]
inventory = inventory.ini
forks = 5
host_key_checking = False
roles_path=roles/external:roles/internal
retry_files_enabled = False
lookup_plugins = ./plugins/lookup_plugins
filter_plugins = ./plugins/filter_plugins
# vault_password_file = ~/.vault.passwd
callback_plugins = ./plugins/callback_plugins
log_path = ansible.log
#callback_whitelist = timestamp

# http://samdoran.com/performance-tuning-ansible-playbooks/
callback_whitelist = profile_tasks, timer
#stdout_callback = debug
library = ./library
stdout_callback = skippy
skip_tags=skip

#fact_caching = jsonfile
#fact_caching_connection = facts_cache.json
#fact_caching_timeout = 86400

[ssh_connection]
pipelining = False

#[paramiko_connection]
#pty=False

[colors]
highlight=white
verbose=blue
warn=bright purple
error=red
debug=dark gray
deprecate=purple
skip=cyan
unreachable=red
ok=green
changed=yellow
diff_add=green
diff_remove=red
diff_lines=cyan
